<template>
  <div>
    <section>
      <div class="box" @click="showPopup">
        <div class="title">
          保障服务
          <i class="oc-icon icon-question"> </i>
        </div>
        <div class="content">
          <div class="dec">屏碎保 / OPPO Care+ / 延长保</div>
        </div>
        <div class="opt">
          <!---->
          <i class="oc-icon icon-arrow-right"> </i>
        </div>
        <!---->
        <!---->
      </div>
      <van-popup v-model:show="show" round position="bottom">
        <template #default>
          <div class="suiping-pop">
            <div  class="popup-title-wrapper">
              <div  class="popup-title">请选择保障服务</div>
              <div  class="service-rule">
                购买表示同意
                <span > 《保障服务条款》 </span>
              </div>
            </div>
            <div  class="popup-item-box">
              <div  class="popup-item-sort">
                <div  class="popup-item">
                  <div  class="popup-item-titlewrapper">
                    <div  class="popup-item-title">屏碎保</div>
                    <div  class="introduce">
                      服务介绍
                      <i  class="oc-icon icon-question"> </i>
                    </div>
                  </div>
                  <div  class="popup-item-context popup-multiple-line">
                    <div  class="popup-line button-default">
                      <span  class="price"> ¥244 </span>
                      <span  class="discard discard-oppocareplus">
                        ¥349
                      </span>
                      <span  class="desc"> 屏碎保一年 </span>
                    </div>
                  </div>
                </div>
              </div>
              <div  class="popup-item-sort">
                <div  class="popup-item">
                  <div  class="popup-item-titlewrapper">
                    <div  class="popup-item-title">OPPO Care+</div>
                    <div  class="introduce">
                      服务介绍
                      <i  class="oc-icon icon-question"> </i>
                    </div>
                  </div>
                  <div
                    
                    class="popup-item-context popup-item-oppocare button-default"
                  >
                    <span  class="price"> ¥559 </span>
                    <span  class="discard discard-oppocareplus">
                      ¥699
                    </span>
                    <span  class="desc">
                      意外保1年1次+延长保1年+电池焕新
                    </span>
                  </div>
                </div>
              </div>
              <div  class="popup-item-sort">
                <div  class="popup-item">
                  <div  class="popup-item-titlewrapper">
                    <div  class="popup-item-title">延长保</div>
                    <div  class="introduce">
                      服务介绍
                      <i  class="oc-icon icon-question"> </i>
                    </div>
                  </div>
                  <div  class="popup-item-context popup-multiple-line">
                    <div  class="popup-line button-default">
                      <span  class="price"> ¥89 </span>
                      <span  class="discard discard-oppocareplus">
                        ¥129
                      </span>
                      <span  class="desc"> 一年 </span>
                    </div>
                    <div  class="popup-line button-default">
                      <span  class="price"> ¥55 </span>
                      <span  class="discard discard-oppocareplus">
                        ¥79
                      </span>
                      <span  class="desc"> 半年 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div  class="buttom-confirm">
              <button >确认</button>
            </div>
          </div>
        </template>
      </van-popup>
    </section>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    const show = ref(false);
    const showPopup = () => {
      show.value = true;
    };

    return {
      show,
      showPopup,
    };
  },
});
</script>

<style lang="scss" scoped>
.box {
  position: relative;
  margin: 10px 12px 0 12px;
  padding: 14px 0;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
}

.box .title {
  position: absolute;
  top: 12px;
  left: 12px;
  
  display: flex;
  align-items: center;
  color: #666;
  font-size: 13px;
  line-height: 1.5;
}

.box .title .icon-question {
  font-size: 16px;
}

.box .content {
  padding: 0 0 0 90px;
}

.box .content .dec {
  display: flex;
  align-items: center;
  width: 226px;
  font-size: 13px;
  line-height: 1.5;
}

.box .content .item {
  margin-bottom: 1.75px;
  font-size: 13px;
  line-height: 1.5;
}

.box .content .item:last-child {
  margin-bottom: 0;
}

.box .content .discard {
  margin: 0 0 0 5px;
  color: #b2b2b2;
  text-decoration: line-through;
}

.box .opt {
  position: absolute;
  top: 12px;
  right: 0;
  
  display: flex;
  align-items: center;
  margin: 0 12px 0 0;
}

.box .opt .unselected {
  font-size: 13px;
}

.box .opt .selected {
  font-size: 13px;
  opacity: 0.3;
}

.box .opt .icon-arrow-right {
  margin-top: 1px;
  color: #000;
  font-size: 18px;
  opacity: 0.2;
}
</style>

<style>
.suiping-pop {
  padding: 24px;
  height: 496px;
}
.popup-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-title {
  color: #333;
  font-weight: 700;
  font-size: 17px;
}

.service-rule {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.popup-item-box {
  height: calc(100% - 32px);
  margin: 24px 0 0 0;
  padding-right: 2.5px;
  padding-bottom: 90px;
  overflow: auto;
}

.popup-item-box .popup-item-sort {
  margin: 0 0 20px 0;
}

.popup-item-box .popup-item-sort:last-child {
  margin: 0 0 0 0;
}

.popup-item-box .popup-item-sort .popup-item-titlewrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-item-box .popup-item-sort .introduce {
  
  display: flex;
  align-items: center;
  color: #000;
  font-size: 12px;
}

.popup-item-box .popup-item-sort .introduce .icon-question {
  font-size: 12px;
}

.popup-item-box .popup-item-sort .popup-item-title {
  font-size: 15px;
}

.popup-item-box .popup-item-sort .popup-item-title .save-price {
  color: #f63434;
  font-weight: 700;
  font-size: 12px;
}

.popup-item-box .popup-item-sort .popup-item-context {
  padding: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 13px;
  text-align: center;
  background: #f7f8fa;
  border-radius: 5px;
}

.popup-item-box .popup-item-sort .popup-item-context span:first-child {
  margin-top: 0;
  font-size: 13px;
}

.popup-item-box .popup-item-sort .popup-item-context .price {
  color: #333;
  font-weight: 500;
  font-size: 13px;
}

.popup-item-box .popup-item-sort .popup-item-context .discard {
  margin: 0 0 0 5px;
  color: #b2b2b2;
  font-weight: 500;
  font-size: 13px;
  text-decoration: line-through;
}

.popup-item-box .popup-item-sort .popup-item-context .discard-oppocareplus {
  margin: 0 0 0 5px;
}

.popup-item-box .popup-item-sort .button-select {
  color: #f63434;
  background: #fff;
  border: 1px solid #f63434;
}

.popup-item-box .popup-item-sort .button-select .price {
  color: #f63434;
}

.popup-item-box .popup-item-sort .button-select .discard {
  color: #f63434;
}

.popup-item-box .popup-item-sort .button-default {
  color: #333;
  background-color: #f7f8fa;
  border: 1px solid transparent;
}

.popup-item-box .popup-item-sort .popup-item-oppocare {
  height: 34px;
  margin-top: 10px;
  line-height: 34px;
}

.popup-item-box .popup-item-sort .popup-multiple-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
}

.popup-item-box .popup-item-sort .popup-multiple-line .popup-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  padding: 0 8px;
  margin-top: 10px;
  line-height: 34px;
  background: #f7f8fa;
  border-radius: 5px;
}

.popup-item-box .popup-item-sort .popup-multiple-line .popup-line .desc {
  margin-left: 8px;
}

.popup-item-box .popup-item-sort .popup-multiple-line .popup-line .question {
  color: #666;
}

.popup-item-box .popup-item-sort .popup-multiple-line .button-select {
  color: #f63434;
  background: #fff;
  border: 1px solid #f63434;
}

.popup-item-box .popup-item-sort .popup-multiple-line .button-select .price {
  color: #f63434;
}

.popup-item-box .popup-item-sort .popup-multiple-line .button-select .discard {
  color: #f63434;
}

.popup-item-box .popup-item-sort .popup-multiple-line .button-default {
  color: #333;
  background-color: #f7f8fa;
  border: 1px solid transparent;
}
.buttom-confirm {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 28px 24px 18px;
  background: 
    linear,
    left top,
    left bottom,
    from(hsla(0, 0%, 100%, 0)),
    color-stop(20%, #fff)
  );
}

.buttom-confirm button {
  width: 100%;
  height: 46px;
  color: #fff;
  font-size: 16px;
  background-color: #f63434;
  border: none;
  border-radius: 6px;
}
</style>
