<template>
  <div>

  </div>
</template>

<script>
import { defineComponent,ref } from 'vue'

export default defineComponent({
  setup() {

    
    return {}
  },
})
</script>

<style lang="scss" scoped>

</style>