<template>
  <div>
    <section>
      <div class="box">
        <div class="item">
          <div class="title">
            {{ sku_config[0]?.name }}
          </div>
          <div class="option-box">
            <div class="option">
              <a
                v-for="(item2, index) in sku_config[0]?.values"
                :class="choiceColorIndex === index ? 'button-primary' : 'button-default'"
                class="option-item"
                @click="changeColor(index)"
              >
                {{ item2.item }}
              </a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="title">
            {{ sku_config[1]?.name }}
          </div>
          <div class="option-box">
            <div class="option">
              <a
                v-for="(item2, index) in sku_config[1]?.values"
                :class="choiceConfigIndex === index ? 'button-primary' : 'button-default'"
                class="option-item"
                @click="changeConfig(index)"
              >
                {{ item2.item }}
              </a>
            </div>
          </div>
        </div>

        <div class="number">
          <div class="number-title">数量</div>
          <div class="symbol-box" @click="num > 1 ? num-- : num">
            <i class="oc-icon icon-minus"> </i>
          </div>
          <div class="num">
            {{ num }}
          </div>
          <div class="symbol-box" @click="num++">
            <i class="oc-icon icon-plus icon-check"> </i>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  props: {
    sku_config: Array,
  },
  setup() {
    const choiceColorIndex = ref(0);
    const changeColor = (index) => {
      choiceColorIndex.value = index;
    };

    const choiceConfigIndex = ref(0);
    const changeConfig = (index) => {
      choiceConfigIndex.value = index;
    };

    const num = ref(1);

    return {
      choiceColorIndex,
      changeColor,
      choiceConfigIndex,
      changeConfig,
      num,
    };
  },
});
</script>

<style lang="scss" scoped>
.box {
  position: relative;
  margin: 10px 12px 0 12px;
  padding: 16px 0 16px 0;
  overflow: hidden;
  background: #fff;
  border-radius: 10.5px;
}

.box .item {
  position: relative;
  display: flex;
  font-size: 13px;
}

.box .item .title {
  margin: 7.5px 10px 7.5px 12px;
  color: #666;
  font-size: 13px;
  white-space: nowrap;
}

.box .item .option-box .option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box .item .option-box .option .option-item {
  max-width: 280px;
  margin: 0 8px 10px 0;
  padding: 7.5px 10px;
  overflow: hidden;
  color: #000;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #f7f8fa;
  border-radius: 5px;
}

.box .item .option-box .option .button-primary {
  color: #f63434;
  background: #fff;
  border: 1px solid #f63434;
}

.box .item .option-box .option .button-disabled {
  color: #b2b2b2;
  background-color: #f7f8fa;
  border: 1px solid transparent;
}

.box .item .option-box .option .button-default {
  color: #333;
  background-color: #f7f8fa;
  border: 1px solid transparent;
}

.box .item .option-box .option .button-default:active {
  color: #f63434;
  background: #fff;
  border: 1px solid #f63434;
}
.box .number {
  display: flex;
  align-items: center;
}

.box .number .number-title {
  margin: 0 10px 0 12px;
  color: #666;
  font-size: 13px;
}

.box .number .symbol-box {
  width: 28px;
  height: 28px;
  line-height: 19px;
  text-align: center;
  background: #f7f8fa;
  border-radius: 5px;
}

.box .number .symbol-box i {
  color: #000;
  font-size: 20px;
  vertical-align: middle;
  opacity: 0.1;
}

.box .number .symbol-box .icon-check {
  opacity: 1;
}

.box .number .symbol-box .icon-plus {
  color: #666;
}

.box .number .num {
  margin: 0 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
</style>
