<template>
  <div>
    <div class="count-down">
      <div class="count-down-left">
        <div class="count-down-label">
          {{ userPriceReduceList.priceTag }}
        </div>
        <div class="count-down-price">¥{{ userPriceReduceList.finalPrice }}</div>
      </div>
      <div class="count-down-right">
        <div class="count-down-tips">距活动结束</div>
        <van-count-down :time="time">
          <template #default="timeData">
            <span class="block">{{ timeData.days }}</span>
            <span class="colon">天</span>
            <span class="block">{{ timeData.hours }}</span>
            <span class="colon">:</span>
            <span class="block">{{ timeData.minutes }}</span>
            <span class="colon">:</span>
            <span class="block">{{ timeData.seconds }}</span>
          </template>
        </van-count-down>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, computed } from "vue";

export default defineComponent({
  props: { userPriceReduceList: Object },
  setup(props) {
    const time = computed(() => {
      // console.log(props?.userPriceReduceList)
      return props?.userPriceReduceList?.endTime - Date.now();
    });

    return { time };
  },
});
</script>

<style lang="scss" scoped>
.count-down {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  color: #fff;
  line-height: 21px;
  background: linear-gradient(228deg, #ff4343, #ff8243);
}

.count-down .count-down-left {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
}

.count-down .count-down-left .count-down-label {
  height: 21px;
  margin-right: 8px;
  padding: 0 5px;
  font-size: 10px;
  text-align: center;
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 5px;
}

.count-down .count-down-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  margin-right: 6px;
}

.colon {
  display: inline-block;
  margin: 0 4px;
  color: #fff;
}
.block {
  display: inline-block;
  width: 22px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 5px;
}
</style>
