<template>
  <section class="box">
    <div class="title">
      {{ introduce.name }}
    </div>
    <div class="description">
      <div v-html="introduce.slogan"></div>
    </div>
    <div class="price">
      <div class="marketing-price">¥{{ introduce.price }}</div>
      <div class="market-tags-warn">
        {{ introduce.creditsRateText }}
      </div>
    </div>
  </section>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    introduce: {
      type: Object,
      default() {
        return {
          name: "res.data.name",
          slogan: "res.data.slogan",
          price: "res.data.price",
          creditsRateText: "res.data.creditsRateText",
        };
      },
    },
  },
  setup() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
.box {
  margin: 0 12px;
  padding: 0 12px 16px 12px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  .title {
    margin-top: 16px;
    overflow: hidden;
    color: #333;
    font-size: 17px;
    line-height: 30px;
  }

  .description {
    margin-top: 9px;
    font-size: 13px;
    line-height: 19.5px;
  }

  .price {
    margin-top: 11px;
    .marketing-price {
      color: #f63434;
      font-size: 25px;
    }
    .market-tags-warn {
      display: inline-block;
      margin: 4px 0 0 10px;
      padding: 0 2px;
      color: #ff722c;
      font-size: 10px;
      background: #fff5e8;
      border-radius: 2px;
    }
  }
}
</style>
