<template>
  <div>
<div class="product-tablist">
  <div class="navigator_back"><i class="oc-icon icon-back"></i></div>
  <div class="tab"><span class="active">商品详情</span></div>
  <div class="tab"><span class="">用户评价</span></div>
  <div class="tab"><span class="">商品详情</span></div>
</div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  setup() {

    
    return {}
  },
})
</script>

<style lang="scss" scoped>
.product-tablist {
  height: 40px;
  padding: 0 70px 1px 70px;
  display: flex;
  position: relative;
  background-color: #fff;
  .navigator_back {
    position: absolute;
    top: -34%;
    // 有问题
    left: 22px;
    z-index: 100;
    i {
      color: rgb(246, 52, 52); 
      font-size: 23px;
    }
  }
  .tab {
    flex: 1;
    color: #666;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    span {
      display: block;
    }
    .active {
      color: #f63434;
      font-weight: 500;
    }
  }

}
</style>