<template>
  <div>
    <van-swipe>
      <van-swipe-item v-for="(item, index) in swipeImgList"
        ><img :src="item.thumbnail_url" alt="" @click="preview(item.thumbnail_url)"
      /></van-swipe-item>
      <template #indicator="{ active }">
        <div class="custom-indicator">{{ active + 1 }}/9</div>
      </template>
    </van-swipe>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { ImagePreview } from "vant";

export default defineComponent({
  props: {
    swipeImgList: Array,
  },
  setup() {

    const preview = (url) => {
      ImagePreview([url]);
    };

    return { preview };
  },
});
</script>

<style lang="scss" scoped>
.van-swipe-item {
  color: #fff;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  // background-color: #39a9ed;
}
.custom-indicator {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px 5px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.1);
}
</style>
