<template>
  <div>
    <InpSwipe />
    <div class="other">
      <section class="left-wrapper">
        <ul>
          <li
            :class="{ active: index === currentIndex }"
            v-for="(list, index) in leftList"
            :key="list.categoryCode"
            @click="clickLeftItem(index)"
            class="js-hook-left"
          >
            <span>{{ list.name }}</span>
          </li>
        </ul>
      </section>

      <section class="right-wrapper">
        <ul class="content">
          <li
            class="js-hook-lis"
            v-for="(item, index) in rightList"
            :key="item.categoryCode"
            @click="router.push({ name: 'Product' })"
          >
            <div class="title-banner" v-if="item.category.ads.length > 0">
              <img :src="item.category.ads[0].logoUrl" alt="" />
            </div>
            <h4>{{ item.category.name }}</h4>
            <ul class="products-list">
              <li
                class="product-item"
                v-for="(item2, index) in item.category.goods"
                :key="item2.categoryCode"
              >
                <div class="product-item-image"><img :src="item2.mainImg" alt="" /></div>
                <div class="product-text">
                  <div class="title">{{ item2.spuName }}</div>
                  <div class="desc" v-if="item2.marketingText">
                    {{ item2.marketingText }}
                  </div>
                  <div class="price">¥{{ item2.price.price }}</div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
    <TabBar />
  </div>
</template>

<script>
import {
  defineComponent,
  onMounted,
  onBeforeMount,
  ref,
  toRefs,
  reactive,
  nextTick,
  computed,
  watch,
  onUnmounted,
} from "vue";
import BScroll from "better-scroll";
import {
  reqCategoryLeft,
  reqCategoryRight1,
  reqCategoryRight2,
  reqCategoryRight3,
} from "@/http/api.js";
import { useRouter } from "vue-router";
import TabBar from "@/components/TabBar.vue";
import InpSwipe from "../../components/InpSwipe.vue";

export default defineComponent({
  components: {
    TabBar,
    InpSwipe,
  },
  setup() {
    const router = useRouter();
    let rightBS;
    let leftBS;

    const state = reactive({
      leftList: [],
      rightList: [],
      scrollY: 0,
      topLists: [],
    });

    const getLeftList = async () => {
      const { data } = await reqCategoryLeft();
      state.leftList = data;
      nextTick(() => {
        _initLeft();
      });
    };
    const getRightList = async () => {
      const { data: data1 } = await reqCategoryRight1();
      const { data: data2 } = await reqCategoryRight2();
      const { data: data3 } = await reqCategoryRight3();
      const data = [
        ...data1,
        ...data2,
        ...data3,
        ...data1,
        ...data2,
        ...data3,
        ...data1,
        ...data2,
        ...data3,
        ...data1,
      ];
      state.rightList = data;
      nextTick(() => {
        _initRight();
        _initTops();
      });
    };

    onMounted(() => {
      getLeftList();
      getRightList();
    });

    const _initLeft = () => {
      leftBS = new BScroll(".left-wrapper", {
        probeType: 2,
        click: true,
      });
    };
    const _initRight = () => {
      rightBS = new BScroll(".right-wrapper", {
        probeType: 3,
        click: true,
      });

      rightBS.on("scroll", ({ x, y }) => {
        // console.log(x, y);
        state.scrollY = Math.abs(y);
      });
      // 给右侧列表绑定scroll结束的监听
      rightBS.on("scrollEnd", ({ x, y }) => {
        // console.log("scrollEnd", x, y);
        state.scrollY = Math.abs(y);
      });
    };

    const _initTops = () => {
      const tops = [];
      let top = 0;
      tops.push(top);
      const lis = document.querySelectorAll(".js-hook-lis");
      Array.from(lis).forEach((li) => {
        top += li.clientHeight;
        tops.push(top);
      });
      state.topLists = tops;
    };

    const currentIndex = computed(() => {
      return state.topLists.findIndex((top, index) => {
        // leftScroll(index)
        leftScroll(index);
        return state.scrollY >= top && state.scrollY < state.topLists[index + 1];
      });
    });

    const leftScroll = (index) => {
      // console.log(11)
      const leftList = document.querySelectorAll(".js-hook-left");
      let el = leftList[index];
      leftBS.scrollToElement(el, 300, 0, -100);
    };

    //左侧点击，右侧滚动
    const clickLeftItem = (index) => {
      state.scrollY = state.topLists[index];
      rightBS.scrollTo(0, -state.scrollY, 300);
    };

    onUnmounted(() => {
      leftBS.destroy();
      rightBS.destroy();
      // console.log("销毁了");
    });

    return { ...toRefs(state), currentIndex, clickLeftItem, router };
  },
});
</script>

<style lang="scss">
.other {
  height: calc(100vh - 54px - 50px);
  display: flex;
}
.left-wrapper {
  width: 25%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  li {
    padding: 0 8px;
    height: 53px;
    line-height: 53px;
    &.active {
      position: relative;
      color: #000;
      font-weight: 700;
      font-size: 15px;
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        height: 15px;
        margin: auto;
        background: #000;
        content: "";
      }
    }
    span {
      font-size: 14px;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}
.right-wrapper {
  flex: 1;
  height: 100%;
  overflow: hidden;
  .content {
    padding: 0 12px;
    > li {
      .title-banner {
        height: 83.5px;
      }
      h4 {
        margin-top: 6px;
        font-size: 15px;

        line-height: 42px;
        padding-left: 8px;
        color: #000;
        text-align: left;
      }
      .products-list {
        .product-item {
          display: flex;
          align-items: center;
          height: 76px;
          margin-bottom: 14px;
          background: #fff;
          border-radius: 12.5px;

          .product-item-image {
            width: 56px;
            height: 56px;
            margin: 0 10px;
          }
          .product-text {
            font-size: 12px;
            height: 56px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
</style>
