<template>
  <div>
    <div class="nav">
      <div class="nav-bar van-hairline--bottom">
        <div class="back"><i class="oc-icon icon-back" @click="router.back()"></i></div>
        <div class="title">商品详情</div>
      </div>
    </div>
    <swipebar :swipeImgList="swipeImgList" />
    <countDownBar :userPriceReduceList="userPriceReduceList" />

    <section class="listSellMaps">
      <ul class="box box-small">
        <li v-for="(item, index) in listSellMaps" class="item">
          <div class="item-box">
            <img alt="" :src="item.icon" />
            <div class="item-name">
              {{ item.title }}
            </div>
            <div class="item-type">
              {{ item.subTitle }}
            </div>
          </div>
        </li>
      </ul>
    </section>

    <introduce :introduce="introduce" />
    <choice :sku_config="sku_config" />

    <assure />
    <div
      class="bigImg-wrapper"
      v-for="(item, index) in duoDuanDescriptionImages"
      :key="item.url"
    >
      <img v-lazy="item.url" />
    </div>

    <van-action-bar>
      <van-action-bar-icon icon="chat-o" text="客服" />
      <van-action-bar-icon icon="cart-o" text="购物车" badge="5" />
      <van-action-bar-icon icon="shop-o" text="店铺" badge="12" />
      <van-action-bar-button type="warning" text="加入购物车" />
      <van-action-bar-button type="danger" text="立即购买" />
    </van-action-bar>
  </div>
</template>

<script>
import { defineComponent, ref, toRefs, reactive, onMounted } from "vue";
import { useRouter } from "vue-router";
import { reqSkuId } from "@/http/api.js";

import swipebar from "./child/swipebar.vue";
import countDownBar from "./child/countDownBar.vue";
import introduce from "./child/introduce.vue";
import choice from "./child/choice.vue";
import assure from "./child/assure.vue";

export default defineComponent({
  components: {
    swipebar,
    countDownBar,
    introduce,
    choice,
    assure,
  },
  setup() {
    const router = useRouter();
    let detailData = reactive({
      swipeImgList: [],
      userPriceReduceList: {},
      listSellMaps: [],
      introduce: {
        name: "",
        slogan: "",
        price: "",
        creditsRateText: "",
      },
      sku_config: [],
      duoDuanDescriptionImages: [],
    });

    const getDetail = async () => {
      const { data } = await reqSkuId();
      detailData.swipeImgList = data.duoDuanDetailImages;
      detailData.userPriceReduceList = data.userPriceReduceList[0];
      detailData.listSellMaps = data.listSellMaps;

      const introduce = {
        name: data.name,
        slogan: data.slogan,
        price: data.price,
        creditsRateText: data.creditsRateText,
      };
      detailData.introduce = introduce;
      // detailData.introduce.name=data.name
      // detailData.introduce.slogan=data.slogan
      detailData.sku_config = data.attributes.configs;
      detailData.duoDuanDescriptionImages = data.duoDuanDescriptionImages;
    };

    onMounted(async () => {
      getDetail();
    });

    return { ...toRefs(detailData), router };
  },
});
</script>

<style lang="scss" scoped>
.nav {
  height: 46px;
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background-color: #fff;
    .title {
      font-size: 17px;
    }
    .back {
      position: absolute;
      left: 16px;
      i {
        color: #f63434;
      }
    }
  }
}
.listSellMaps {
  .box {
    display: flex;
    justify-content: space-around;
    height: 82.5px;
    .item {
      .item-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13px 0 0 0;
        img {
          width: 24px;
        }

        .item-name {
          padding-top: 4px;
          color: #333;
          font-size: 12px;
        }

        .item-type {
          padding-top: 6px;
          color: #666;
          font-size: 10px;
        }
      }
    }
  }
}
.bigImg-wrapper:first-child {
  margin-top: 15px;
}
</style>
