<template>
  <div class="search-bar" @click="router.push({ name: 'Search' })">
    <div class="search">
      <div class="icon-searcher"><van-icon name="search" class="ico-sear" /></div>
      <div class="inpuy-swipe">
        <van-swipe
          style="height: 33px"
          vertical
          :autoplay="3000"
          :show-indicators="false"
        >
          <van-swipe-item v-for="item in swipeText" style="height: 33px;line-height:33px">{{ item.title }}</van-swipe-item>
        </van-swipe>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, reactive, onMounted, toRefs } from "vue";
import { swipeTextList } from "../http/api";
import { useRouter } from 'vue-router'

export default defineComponent({
  setup() {
    const router = useRouter();
    const date = reactive({
      swipeText: [],
    });

    const getSwipeTextList = async () => {
      const { data } = await swipeTextList();
      date.swipeText = data;
    };

    onMounted(() => {
      getSwipeTextList();
    });

    return {
      ...toRefs(date),
      router
    };
  },
});
</script>

<style lang="scss" scoped>
.search-bar {
  padding: 12.5px 15px;
  background: #fff;
}
.search {
  display: flex;
  align-items: center;
  height: 33px;
  color: #b2b2b2;
  background-color: #f7f8fa;
  border-radius: 5px;
  line-height: 33px;
  font-size: 20px;
}
.icon-searcher {
  margin: 0 10px;
}
.inpuy-swipe {
  flex: 1;
}
</style>
