<template>
  <div>
    <van-tabbar
      v-model="active"
      route
      active-color="#f94d30"
      inactive-color="#949497"
      style="z-index: 100"
    >
      <van-tabbar-item icon="home-o" to="/">首页</van-tabbar-item>
      <van-tabbar-item icon="apps-o" to="/category">分类</van-tabbar-item>
      <van-tabbar-item icon="shopping-cart-o" to="/cart">购物车</van-tabbar-item>
      <van-tabbar-item icon="user-o" to="/ucenter">我的</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    const active = ref(0);
    return { active };
  },
});
</script>

<style lang="scss" scoped>
.van-tabbar--fixed {
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
}
</style>
