@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff?t=1629275085059') format('woff'),
       url('iconfont.ttf?t=1629275085059') format('truetype');
}
.oc-icon {
	font-family:iconfont!important;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-size:24px;
}
.icon-shipments:before {
	content:"\5f85"
}
.icon-recycle:before {
	content:"\e613"
}
.icon-receiving:before {
	content:"\5df2"
}
.icon-obligation:before {
	content:"\e60e"
}
.icon-evaluate:before {
	content:"\e60d"
}
.icon-after-sale:before {
	content:"\e60a"
}
.icon-yougouma:before {
	content:"\e604"
}
.icon-back-top:before {
	content:"\e602"
}
.icon-tips:before {
	content:"\e601"
}
.icon-clear:before {
	content:"\e699"
}
.icon-gouwudai2:before {
	content:"\e693"
}
.icon-gouwudai:before {
	content:"\e694"
}
.icon-jiangbei:before {
	content:"\e695"
}
.icon-jiangbei2:before {
	content:"\e696"
}
.icon-order:before {
	content:"\e697"
}
.icon-order2:before {
	content:"\e698"
}
.icon-fangda:before {
	content:"\e68d"
}
.icon-suoxiao:before {
	content:"\e68e"
}
.icon-stup:before {
	content:"\e68f"
}
.icon-playon:before {
	content:"\e690"
}
.icon-volume-no:before {
	content:"\e691"
}
.icon-volume-off2:before {
	content:"\e692"
}
.icon-qujian:before {
	content:"\e688"
}
.icon-sousuo:before {
	content:"\e687"
}
.icon-store:before {
	content:"\e689"
}
.icon-time:before {
	content:"\e68a"
}
.icon-ziti:before {
	content:"\e68b"
}
.icon-car:before {
	content:"\e68c"
}
.icon-shipments-old:before {
	content:"\e682"
}
.icon-recycle-old:before {
	content:"\e683"
}
.icon-obligation-old:before {
	content:"\e684"
}
.icon-receiving-old:before {
	content:"\e685"
}
.icon-evaluate-old:before {
	content:"\e686"
}
.icon-dingdan:before {
	content:"\e67c"
}
.icon-chengtuan:before {
	content:"\e67d"
}
.icon-fahuo:before {
	content:"\e67e"
}
.icon-yaoqing:before {
	content:"\e680"
}
.icon-kaituan:before {
	content:"\e681"
}
.icon-top:before {
	content:"\e678"
}
.icon-kefubeifen:before {
	content:"\e677"
}
.icon-member:before {
	content:"\e670"
}
.icon-download:before {
	content:"\e66e"
}
.icon-login:before {
	content:"\e66f"
}
.icon-close-easy:before {
	content:"\e66a"
}
.icon-toplay:before {
	content:"\e66b"
}
.icon-arrow-right-slim:before {
	content:"\e66c"
}
.icon-file:before {
	content:"\e66d"
}
.icon-state-location:before {
	content:"\e669"
}
.icon-phone:before {
	content:"\e668"
}
.icon-group:before {
	content:"\e667"
}
.icon-setting:before {
	content:"\e666"
}
.icon-recycling:before {
	content:"\e665"
}
.icon-bill:before {
	content:"\e664"
}
.icon-back:before {
	content:"\e663"
}
.icon-search:before {
	content:"\e662"
}
.icon-oppo:before {
	content:"\e661"
}
.icon-fail:before {
	content:"\e660"
}
.icon-success:before {
	content:"\e65f"
}
.icon-sf:before {
	content:"\e65d"
}
.icon-checked:before {
	content:"\e65c"
}
.icon-more:before {
	content:"\e659"
}
.icon-star:before {
	content:"\e658"
}
.icon-show-up:before {
	content:"\e657"
}
.icon-show:before {
	content:"\e656"
}
.icon-share:before {
	content:"\e655"
}
.icon-radio:before {
	content:"\e654"
}
.icon-radio-checked:before {
	content:"\e653"
}
.icon-question:before {
	content:"\e652"
}
.icon-presscar:before {
	content:"\e651"
}
.icon-plus:before {
	content:"\e650"
}
.icon-minus:before {
	content:"\e64f"
}
.icon-location:before {
	content:"\e64e"
}
.icon-success-big:before {
	content:"\e64d"
}
.icon-edit:before {
	content:"\e64c"
}
.icon-delete:before {
	content:"\e64b"
}
.icon-checkbox:before {
	content:"\e64a"
}
.icon-checkbox-checked:before {
	content:"\e649"
}
.icon-arrow-left:before {
	content:"\e65a"
}
.icon-arrow-up:before {
	content:"\e648"
}
.icon-arrow-right:before {
	content:"\e647"
}
.icon-close:before {
	content:"\e645"
}
.icon-arrow-down:before {
	content:"\e646"
}
.icon-topup:before {
	content:"\e630"
}
.icon-play:before {
	content:"\e62e"
}
.icon-stop:before {
	content:"\e62f"
}
.icon-message:before {
	content:"\e624"
}
.icon-moment:before {
	content:"\e625"
}
.icon-qq:before {
	content:"\e626"
}
.icon-qqzone:before {
	content:"\e627"
}
.icon-link:before {
	content:"\e628"
}
.icon-wechat:before {
	content:"\e629"
}
.icon-weibo:before {
	content:"\e62a"
}
.icon-pay:before {
	content:"\e61a"
}
.icon-my:before {
	content:"\e619"
}
.icon-home:before {
	content:"\e617"
}
.icon-robot:before {
	content:"\e612"
}
.icon-volume-off:before {
	content:"\e611"
}
.icon-volume-on:before {
	content:"\e610"
}
.icon-cart:before {
	content:"\e609"
}
.icon-zoom-in:before {
	content:"\e60b"
}
.icon-zoom-out:before {
	content:"\e60c"
}
