<template>
  <router-view />
</template>

<style>
html,
body,
#app {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: #fff;
}
#app {
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
}
</style>
